{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Admin Panel{% endblock %}</title>
    
    <link rel="stylesheet" href="{% static 'admin_panel/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'admin_panel/css/admin-inner-theme.css' %}">
    
</head>
<body>

<div id="main-wrapper">
    {% include 'admin_panel/header.html' %}
    {% include 'admin_panel/sidebar.html' %}

    <div class="content-body">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'admin_panel/js/admin-header-live.js' %}?v=header-live-solid-1"></script>
    {% include 'admin_panel/footer.html' %}
</body>
</html>
