<!--**********************************
            Sidebar start
        ***********************************-->
       <div class="deznav">
            <div class="deznav-scroll">
				<ul class="metismenu" id="menu">
                    
                    <li class="has-menu">
    <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
        <i class="flaticon-381-notepad"></i>
        <span class="nav-text">Courses</span>
    </a>
    <ul aria-expanded="false">
        <li><a href="{% url 'student_attendance' %}">Attendance</a></li> 
        <li><a href="{% url 'student_result' %}">Result</a></li>
        <li><a href="{% url 'student_assignments' %}">Assignments</a></li>
        <li><a href="{% url 'student_quizzes' %}">Quizzes</a></li>
        <li><a href="{% url 'student_diary' %}">Diary</a></li>
        <li><a href="{% url 'student_timetable' %}">Timetable</a></li>
        
    </ul>
</li>

                     <!-- 🔹 New Lesson Plan Section -->
            <li class="has-menu">
                <a class="has-arrow ai-icon" href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Fees Voucher</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="">Fees Voucher</a></li>
               
                </ul>
            </li>
                    
                </ul>
				
				<!-- <div class="copyright">
					{% comment %} <p><strong>Forecaster Dashboard</strong> © 2025 All Rights Reserved</p> {% endcomment %}
					<p>Forecaster Dashboard</p>
				</div> -->
			</div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->