{% extends "admin_panel/bases.html" %}
{% load static %}
{% block title %}New Medicine{% endblock %}
{% block head %}<link rel="stylesheet" href="{% static 'health_management/css/health_theme.css' %}">{% endblock %}
{% block content %}
<div class="hlm-wrap">
  <div class="hlm-form-card">
    <h2>💊 New Medicine</h2>
    <form method="post">
      {% csrf_token %}
      {% include "health_management/_form_fields.html" %}
      <div class="hlm-form-actions">
        <button type="submit" class="btn btn-teal">Save Medicine</button>
        <a class="btn btn-cancel" href="{% url 'health_management:medicine_inventory_list' %}">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
